body {
    background-color: beige;
    user-select: none;
}

#board,
#controls {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    border: 3px solid black;
    font-size: 0;
    margin-right: 30px;
}

.square {
    display: inline-block;
    border: 3px solid black;
}

.square div {
    width: 150px;
    height: 150px;
    cursor: pointer;
    opacity: 0.25;
}

#board.can-click .square div:active,
.square div.highlighted {
    opacity: 1;
}

#color0 {
    background-color: green;
}

#color1 {
    background-color: red;
}

#color2 {
    background-color: yellow;
}

#color3 {
    background-color: blue;
}

#level {
    margin-top: 0px;
}

#start {
    font-size: 18px;
    margin-top: 8px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin-top: 25px;
}
